	.intro__media, .intro__media__image, .menu, .menu__background, .navigation, .navigation__list, .navigation__wrapper, .preloader, .preloader__box {
		height: 100%;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%
		
	}

.preloader {
	
align-content: center;	
}

	.dg.ac {
		z-index: 99999!important
	}

	@font-face {
		font-family: Neue Haas Grotesk Regular;
		src: url(4e1af55103b5ecf9d9cca16f35ddc43e.woff2) format("woff2"), url(4f280627920ea0dba5e1e24d7f6b53af.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap
	}

	@font-face {
		font-family: Grotta Light;
		src: url(8fe525105e463b7e0c129bca4dfbd318.woff2) format("woff2"), url(b31a365587c172f21f58f326313e6664.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap
	}

	@font-face {
		font-family: Grotta Regular;
		src: url(df9abfd17c83e15efd943d188323422e.woff2) format("woff2"), url(058a7685e49ce0357cb212c0fff0af3e.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap
	}

	@font-face {
		font-family: Decay White Regular;
		src: url(2d2adb28eeddef0d9d38155ece8a7cd1.woff2) format("woff2"), url(6f34dd2f403f23a2f234db89a2e53339.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block
	}

	body {
		line-height: 1
	}

	ol, ul {
		list-style: none
	}

	html {
		background: #fbf7ed;
		box-sizing: border-box;
		color: #101014;
		font-size: .5208333333vw;
		height: 100%;
		left: 0;
		overflow: hidden;
		-ms-scroll-chaining: none;
		overscroll-behavior: none;
		position: fixed;
		-moz-osx-font-smoothing: grayscale;
		top: 0;
		transition: background .5s ease, color .5s ease;
		-webkit-font-smoothing: antialiased;
		width: 100%
	}

	html.footer--visible {
		background: #032329;
		color: #fbf7ed;
		transition: background 1s ease .33s, color 1s ease .33s
	}

	@media(max-width:812px) {
		html {
			font-size: 2.6666666667vw
		}
	}

	body {
		font: 14px/1.5 Neue Haas Grotesk Regular, sans-serif;
		height: 100%;
		left: 0;
		opacity: 1;
		overflow: hidden;
		-ms-scroll-chaining: none;
		overscroll-behavior: none;
		position: fixed;
		top: 0;
		width: 100%
	}

	*, :after, :before {
		box-sizing: inherit;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
		-webkit-touch-callout: none
	}

	* {
		margin: 0;
		padding: 0
	}

	:focus {
		outline: none
	}

	::-moz-focus-inner {
		border: 0
	}

	a {
		text-decoration: none
	}

	a, button {
		color: inherit;
		outline: none;
		pointer-events: auto
	}

	button {
		background: none;
		border: none;
		border-radius: none;
		font: inherit
	}

	img {
		max-width: 100%;
		vertical-align: middle
	}

	input, textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		pointer-events: auto
	}

	.content {
		height: 100%;
		left: 0;
		overflow: auto;
		position: absolute;
		top: 0;
		width: 100%
	}

	[data-animation=paragraph] span {
		display: inline-block;
		overflow: hidden;
		vertical-align: top
	}

	.case__button, .footer__email__link, .footer__link, .navigation__item:not(:first-child) .navigation__link {
		overflow: hidden;
		position: relative;
		vertical-align: top
	}

	.case__button:after, .footer__email__link:after, .footer__link:after, .navigation__item:not(:first-child) .navigation__link:after {
		background: currentColor;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		transition: transform .7s cubic-bezier(.19, 1, .22, 1);
		width: 100%
	}

	.case__button:focus:after, .case__button:hover:after, .footer__email__link:focus:after, .footer__email__link:hover:after, .footer__link:focus:after, .footer__link:hover:after, .navigation__item:not(:first-child) .navigation__link:focus:after, .navigation__item:not(:first-child) .navigation__link:hover:after {
		transform: scaleX(1);
		transform-origin: left center
	}

	.case__button:after, .footer__email__link:after, .footer__link:after, .navigation__item:not(:first-child) .navigation__link:after {
		transform: scaleX(0);
		transform-origin: right center
	}

	.case__button, .footer__email__link, .footer__link, .navigation__item:not(:first-child) .navigation__link {
		display: inline-block;
		line-height: 1.05
	}

	.cases, .home {
		height: 100%;
		left: 0;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: opacity 1s ease, visibility 1s ease;
		visibility: hidden;
		width: 100%;
		z-index: 2
	}

	.cases--active .cases, .home--active {
		opacity: 1;
		pointer-events: auto;
		visibility: visible
	}

	.home__content {
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		will-change: transform
	}

	canvas {
		display: block;
		height: 100vh;
		width: 100%;
		z-index: 1
	}

	.cursor, canvas {
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0
	}

	.cursor {
		fill: none;
		margin-left: -4rem;
		margin-top: -2rem;
		stroke: currentColor;
		width: 6rem;
		z-index: 100
	}

	.cursor__wrapper {
		transition: transform 1s cubic-bezier(.19, 1, .22, 1)
	}

	.cursor--hold .cursor__wrapper {
		transform: scale(.75)
	}

	.cursor__circle {
		opacity: 0;
		stroke-dasharray: 108.4055633545 108.4055633545;
		stroke-dashoffset: 108.4055633545;
		stroke-width: 2px;
		transform: rotate(-1turn);
		transform-origin: center;
		transition: all 1s cubic-bezier(.19, 1, .22, 1)
	}

	.cursor--active .cursor__circle {
		opacity: 1;
		stroke-dashoffset: 0;
		transform: rotate(0)
	}

	.cursor__arrow {
		transition: all 1s cubic-bezier(.19, 1, .22, 1)
	}

	.cursor__arrow--left {
		opacity: 0;
		transform: translateX(10%)
	}

	.cursor__arrow--right {
		opacity: 0;
		transform: translateX(-10%)
	}

	.cursor--active .cursor__arrow {
		opacity: 1;
		transform: translateX(0)
	}

	noscript {
		align-items: center;
		background: #fbf7ed;
		color: #101014;
		cursor: default;
		display: flex;
		font-size: 16px;
		line-height: 1.1;
		height: 100%;
		justify-content: center;
		left: 0;
		padding: 4rem;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 7
	}

	.navigation {
		line-height: 1;
		overflow: hidden;
		pointer-events: none;
		position: fixed;
		transition: color 1s ease;
		z-index: 5
	}

	.navigation--intro {
		color: #fbf7ed
	}

	.navigation--work {
		color: #032329
	}

	.footer--visible .navigation--work, .menu--open .navigation--work {
		color: #fbf7ed
	}

	.navigation__list:before {
		bottom: 1rem;
		content: "";
		display: block;
		left: 65.5rem
	}

	.navigation__item {
		pointer-events: auto;
		position: absolute
	}

	.navigation__item:first-child {
		left: 1rem;
		top: 1rem
	}

	.navigation__item:nth-child(2) {
		bottom: 1rem;
		left: 1rem
	}

	.navigation__item:nth-child(3) {
		bottom: 1rem;
		left: 17rem
	}

	.navigation__item:nth-child(4) {
		bottom: 1rem;
		left: 33rem
	}

	@media(max-width:812px) {
		.navigation__item:first-child {
			left: 1rem;
			top: 1rem
		}
		.navigation__item:nth-child(2), .navigation__item:nth-child(3), .navigation__item:nth-child(4) {
			display: none
		}
	}

	.navigation__logo {
		display: block;
		font-size: 0;
		transition: opacity .5s ease
	}

	.navigation__logo:focus, .navigation__logo:hover {
		opacity: .5
	}

	.navigation__logo__media {
		display: block;
		min-width: 70px;
		width: 7rem
	}

	.navigation__link {
		display: inline-block;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		vertical-align: middle
	}

	.navigation__link--active:after {
		transform: scaleX(1)!important;
		transform-origin: left center!important
	}

	.navigation__easter {
		border-color: currentcolor transparent transparent;
		border-style: solid;
		border-width: 14px 14px 0 0;
		bottom: 1rem;
		cursor: pointer;
		font-size: 0;
		height: 0;
		left: 65.5rem;
		pointer-events: none;
		position: absolute;
		width: 0
	}

	@media(max-width:812px) {
		.navigation__easter {
			right: 2rem;
			bottom: 2rem
		}
	}

	.menu {
		display: none;
		color: #fbf7ed;
		font-size: 14px;
		pointer-events: none;
		z-index: 4
	}

	.menu--open .menu {
		pointer-events: auto
	}

	@media(max-width:812px) {
		.menu {
			display: block
		}
	}

	.menu__toggle {
		background: currentColor;
		display: none;
		font-size: 0;
		height: 2.6rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		transition: opacity .4s ease, visibility .4s ease;
		width: 2.6rem;
		z-index: 5
	}

	.cases--active .menu__toggle {
		opacity: 0;
		visibility: hidden
	}

	@media(max-width:812px) {
		.menu__toggle {
			display: block
		}
	}

	.menu__background {
		background: #032329;
		transform: scaleY(0);
		transform-origin: 0 0;
		transition: transform 1s cubic-bezier(.19, 1, .22, 1) .5s
	}

	.menu--open .menu__background {
		transform: scaleY(1);
		transition: transform 1s cubic-bezier(.19, 1, .22, 1)
	}

	.menu__list {
		bottom: 20%;
		font: 7.2rem/1 Grotta Light, sans-serif;
		left: 1rem;
		position: absolute;
		text-transform: uppercase
	}

	.menu__item {
		overflow: hidden
	}

	.menu__link {
		display: block;
		transform: translateY(100%);
		transition: transform 1s cubic-bezier(.19, 1, .22, 1)
	}

	.menu__item:nth-child(2) .menu__link {
		font-family: Decay White Regular, sans-serif;
		margin-top: .3rem
	}

	.menu--open .menu__link {
		transform: translateY(0)
	}

	.menu--open .menu__item:first-child .menu__link {
		transition-delay: .35s
	}

	.menu--open .menu__item:nth-child(2) .menu__link {
		transition-delay: .45s
	}

	.menu--open .menu__item:nth-child(3) .menu__link {
		transition-delay: .55s
	}

	.menu__copyright {
		bottom: 1rem;
		left: 1rem;
		line-height: 1;
		overflow: hidden;
		position: absolute
	}

	.menu__copyright__text {
		display: block;
		transform: translateY(100%);
		transition: transform 1s cubic-bezier(.19, 1, .22, 1)
	}

	.menu--open .menu__copyright__text {
		transform: translateY(0);
		transition: transform 1s cubic-bezier(.19, 1, .22, 1) .5s
	}

	.menu__year {
		bottom: 1rem;
		line-height: 1;
		overflow: hidden;
		position: absolute;
		right: 1rem
	}

	.menu__year__text {
		display: block;
		transform: translateY(100%);
		transition: transform 1s cubic-bezier(.19, 1, .22, 1)
	}

	.menu--open .menu__year__text {
		transform: translateY(0);
		transition: transform 1s cubic-bezier(.19, 1, .22, 1) .5s
	}

	.preloader {
		background: #fbf7ed;
		overflow: hidden;
		position: fixed;
		z-index: 6
	}

	.preloader__box {
		transition: transform .65s cubic-bezier(.87, 0, .13, 1);
		will-change: transform
	}

	.preloader--active .preloader__box {
		transform: scale(.2)
	}

	.preloader--1 .preloader__box {
		transform: scale(.2) translateX(-195vw)
	}

	.preloader--2 .preloader__box {
		transform: scale(.2) translateX(-120vw)
	}

	.preloader--3 .preloader__box {
		transform: scale(.2) translateX(160vw)
	}

	.preloader__box__left {
		height: 100%;
		position: absolute;
		transform-origin: center right;
		width: 65rem
	}

	.preloader__box__left:after {
		background: #eee9df;
		content: "";
		display: block;
		height: 100%;
		left: -500vw;
		position: absolute;
		right: 0;
		transform: scaleX(.075);
		transform-origin: right;
		transition: transform .65s cubic-bezier(.87, 0, .13, 1);
		will-change: transform
	}

	.preloader--1 .preloader__box__left:after {
		transform: scaleX(.075)
	}

	.preloader--2 .preloader__box__left:after {
		transform: scaleX(.0375)
	}

	.preloader--3 .preloader__box__left:after {
		transform: scaleX(.55)
	}

	.preloader--loaded .preloader__box__left:after {
		transform: scaleX(.064)
	}

	@media(max-width:812px) {
		.preloader__box__left {
			width: 10rem
		}
		.preloader--loaded .preloader__box__left:after {
			transform: scaleX(.05)
		}
	}

	.preloader__box__right {
		right: 0;
		transform-origin: center left;
		width: calc(100% - 65rem)
	}

	.preloader__box__right, .preloader__box__right:after {
		height: 100%;
		position: absolute;
		transition: transform .65s cubic-bezier(.87, 0, .13, 1);
		will-change: transform
	}

	.preloader__box__right:after {
		background: #eee9df;
		content: "";
		left: calc(100% - 60rem);
		right: -500vw;
		top: 0;
		transform: scaleX(.5);
		transform-origin: left;
		z-index: 1
	}

	.preloader--active .preloader__box__right {
		transform: scaleX(2)
	}

	.preloader--1 .preloader__box__right {
		transform: scaleX(1)
	}

	.preloader--1 .preloader__box__right:after {
		transform: scaleX(.85)
	}

	.preloader--2 .preloader__box__right {
		transform: scaleX(4)
	}

	.preloader--2 .preloader__box__right:after {
		transform: scaleX(.12)
	}

	.preloader--3 .preloader__box__right {
		transform: scaleX(1)
	}

	.preloader--3 .preloader__box__right:after {
		transform: scaleX(0)
	}

	.preloader--loaded .preloader__box__right {
		transform: scaleX(1)
	}

	.preloader--loaded .preloader__box__right:after {
		transform: scaleX(.059)
	}

	@media(max-width:812px) {
		.preloader__box__right {
			width: calc(100% - 10rem)
		}
		.preloader__box__right:after {
			left: 100%
		}
		.preloader--loaded .preloader__box__right {
			transform: scaleX(.4)
		}
	}

	.preloader__box__triangle {
		height: 100%;
		overflow: hidden;
		top: 0;
		width: 70rem
	}

	.preloader__box__triangle, .preloader__box__triangle:after, .preloader__box__triangle:before {
		left: 0;
		position: absolute;
		transition: transform .65s cubic-bezier(.87, 0, .13, 1);
		will-change: transform
	}

	.preloader__box__triangle:after, .preloader__box__triangle:before {
		background: #eee9df;
		content: "";
		height: 50%;
		width: 100%
	}

	.preloader__box__triangle:before {
		top: 0;
		transform-origin: bottom left;
		transform: scaleY(2)
	}

	.preloader__box__triangle:after {
		bottom: 0;
		transform-origin: top left;
		transform: scaleY(2)
	}

	.preloader--active .preloader__box__triangle:before {
		transform: rotate(30deg) scaleY(2)
	}

	.preloader--active .preloader__box__triangle:after {
		transform: rotate(-30deg) scaleY(2)
	}

	.preloader--loaded .preloader__box__triangle {
		transform: translateX(-.2rem)
	}

	.preloader--loaded .preloader__box__triangle:after, .preloader--loaded .preloader__box__triangle:before {
		transform: rotate(0) scaleY(2)
	}

	.intro {
		color: #fbf7ed;
		height: 300vh;
		pointer-events: none;
		z-index: 1
	}

	.intro, .intro__box {
		position: relative;
		width: 100vw
	}

	.intro__box {
		height: 100vh
	}

	.intro__media__image {
		-o-object-position: bottom;
		object-position: bottom
	}

	.intro__title {
		font-family: Decay White Regular, sans-serif;
		font-size: 60rem;
		letter-spacing: -2.9rem;
		line-height: 1;
		margin-left: -10rem;
		margin-top: 10vh;
		position: absolute;
		top: 50%;
		transform: translateY(-50%)
	}

	@media(max-width:812px) {
		.intro__title {
			font-size: 29rem;
			letter-spacing: -1.3rem;
			margin-left: -8.5rem;
			margin-top: 5vh
		}
	}

	.intro__button {
		bottom: 1rem;
		font-size: 14px;
		line-height: 1;
		position: absolute;
		right: 1rem
	}

	.work {
		color: #032329;
		min-height: 100vh;
		position: relative;
		z-index: 2
	}

	.work__header {
		opacity: 0;
		padding-top: 10rem;
		transition: opacity .5s ease
	}

	.home--active .work__header {
		opacity: 1;
		transition: opacity .5s ease 1s
	}

	@media(max-width:812px) {
		.work__header {
			padding-top: 5rem
		}
	}

	.work__header__description {
		margin-left: auto;
		margin-right: 16rem;
		width: 330px
	}

	@media(min-width:1920px) {
		.work__header__description {
			width: 330px
		}
	}

	@media(max-width:812px) {
		.work__header__description {
			margin-left: 1rem;
			width: 30rem
		}
	}

	.work__header__date {
		align-items: center;
		display: flex;
		margin-bottom: 2rem;
		margin-left: 17rem;
		margin-top: 23rem
	}

	@media(max-width:812px) {
		.work__header__date {
			margin-bottom: 0;
			margin-top: 10rem;
			margin-left: 1rem
		}
	}

	.work__header__date__text {
		font-size: 14px
	}

	.work__header__date__dash {
		border-top: 1px solid;
		display: block;
		margin: 0 2.35rem;
		width: 8.5rem
	}

	.work__header__title {
		display: inline-block;
		font-size: 0;
		text-transform: uppercase;
		white-space: nowrap
	}

	.work__header__title span {
		display: inline-block;
		font: 43rem/1 Grotta Light, sans-serif;
		letter-spacing: -.5rem
	}

	@media(max-width:812px) {
		.work__header__title span {
			font-size: 15rem
		}
	}

	.work__list {
		display: flex;
		flex-wrap: wrap;
		margin: 20rem auto 0;
		width: 190rem
	}

	@media(max-width:812px) {
		.work__list {
			margin: 10rem auto 0;
			width: calc(100% - 2rem)
		}
	}

	.work__item {
		display: block
	}

	.work__item--1 {
		margin-right: 1.9rem;
		margin-top: 43rem
	}

	.work__item--1:not(:first-child) {
		margin-top: 83rem
	}

	.work__item--2:not(:nth-child(2)) {
		margin-top: 40rem
	}

	.work__item--3 {
		margin-left: auto;
		margin-right: 1.9rem;
		margin-top: 63.5rem
	}

	.work__item--4 {
		margin-left: 0;
		margin-top: 18.5rem
	}

	.work__item--5 {
		margin-top: 29.5rem
	}

	.work__item--6 {
		margin-left: auto;
		margin-top: 67.5rem
	}

	.work__item--7 {
		margin-right: 1.9rem;
		margin-top: 24rem
	}

	.work__item--8 {
		margin-top: 44.5rem
	}

	@media(max-width:812px) {
		.work__item--1, .work__item--2, .work__item--3, .work__item--4, .work__item--5, .work__item--6, .work__item--7, .work__item--8 {
			margin: 3.5rem auto 0;
			width: 100%
		}
		.work__item--1 {
			margin-top: 0
		}
		.work__item--1:not(:first-child), .work__item--2:not(:nth-child(2)) {
			margin-top: 3.5rem
		}
	}

	.work__item__title {
		margin-bottom: 1rem;
		opacity: 0;
		transition: opacity .5s ease
	}

	.home--active .work__item__title {
		opacity: 1;
		transition: opacity .5s ease 1s
	}

	.work__item__media {
		background: #f4efe5;
		opacity: 0
	}

	.work__item--1 .work__item__media {
		height: 62rem;
		width: 62rem
	}

	.work__item--2 .work__item__media {
		height: 62rem;
		width: 95rem
	}

	.work__item--3 .work__item__media {
		height: 62rem;
		width: 62rem
	}

	.work__item--4 .work__item__media {
		height: 94rem;
		width: 94rem
	}

	.work__item--5 .work__item__media {
		height: 62rem;
		width: 95rem
	}

	.work__item--6 .work__item__media, .work__item--7 .work__item__media {
		height: 62rem;
		width: 62rem
	}

	.work__item--8 .work__item__media {
		height: 94rem;
		width: 94rem
	}

	@media(max-width:812px) {
		.work__item--1 .work__item__media, .work__item--2 .work__item__media, .work__item--3 .work__item__media, .work__item--4 .work__item__media, .work__item--5 .work__item__media, .work__item--6 .work__item__media, .work__item--7 .work__item__media, .work__item--8 .work__item__media {
			height: auto;
			padding-top: 100%;
			width: 100%
		}
	}

	.about {
		color: #032329;
		height: 450vh;
		padding-top: 100vh;
		position: relative;
		text-transform: uppercase;
		z-index: 2
	}

	.about__background {
		height: 100vh;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity .5s ease;
		width: 100vw
	}

	.home--active .about__background {
		opacity: 1;
		transition: opacity .5s ease 1s
	}

	.about__background__wrapper {
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		transition: transform 1.5s cubic-bezier(.19, 1, .22, 1);
		width: 100vw
	}

	.about__background--active .about__background__wrapper {
		transform: scale(.9)
	}

	.about__background__shape {
		background: #f4efe5;
		height: 156rem;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%) scale(.25);
		width: 156rem
	}

	.about__background__shape:after {
		background: #fbf7ed;
		border-radius: 50%;
		content: "";
		height: 152.8rem;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 152.8rem
	}

	@media(max-width:812px) {
		.about__background__shape {
			height: 112rem;
			width: 112rem
		}
		.about__background__shape:after {
			height: 110rem;
			width: 110rem
		}
	}

	.about__agencies, .about__awards, .about__brands {
		align-items: center;
		display: flex;
		height: 100vh;
		position: relative
	}

	.about__agencies__title, .about__awards__title, .about__brands__title {
		left: 17rem;
		line-height: 1.2;
		margin-top: -26.5rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%)
	}

	@media(max-width:812px) {
		.about__agencies__title, .about__awards__title, .about__brands__title {
			left: 1rem;
			margin-top: -15.5rem
		}
	}

	.about__agencies__subtitle, .about__awards__subtitle, .about__brands__subtitle {
		margin-top: 26.5rem;
		position: absolute;
		right: 22rem;
		top: 50%;
		transform: translateY(-50%)
	}

	@media(max-width:812px) {
		.about__agencies__subtitle, .about__awards__subtitle, .about__brands__subtitle {
			line-height: 1.2;
			margin-top: 15.5rem;
			right: 1rem
		}
	}

	.about__agencies__list, .about__awards__list, .about__brands__list {
		color: inherit;
		font-size: 0;
		margin-top: 21rem;
		transform: rotate(-5deg);
		transform-origin: left;
		white-space: nowrap
	}

	.about__agencies__list span, .about__awards__list span, .about__brands__list span {
		display: inline-block;
		font-size: 20rem;
		line-height: .8;
		padding: 0 2rem
	}

	.about__agencies__list span:nth-child(1n), .about__awards__list span:nth-child(1n), .about__brands__list span:nth-child(1n) {
		font-family: Grotta Regular, sans-serif
	}

	.about__agencies__list span:nth-child(2n), .about__awards__list span:nth-child(2n), .about__brands__list span:nth-child(2n) {
		font-family: Decay White Regular, sans-serif
	}

	@media(max-width:812px) {
		.about__agencies__list, .about__awards__list, .about__brands__list {
			margin-top: 5rem
		}
		.about__agencies__list span, .about__awards__list span, .about__brands__list span {
			font-size: 8rem;
			padding: 0 .5rem
		}
	}

	.about__agencies__list__line, .about__awards__list__line, .about__brands__list__line {
		color: inherit;
		display: inline-block
	}

	.footer {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		margin-top: 15rem;
		position: relative;
		z-index: 1
	}

	@media(max-width:812px) {
		.footer {
			height: auto;
			margin-top: 0;
			padding-bottom: 3.5rem;
			padding-top: 5rem
		}
	}

	.footer__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		position: relative;
		width: 100vw
	}

	@media(max-width:812px) {
		.footer__wrapper {
			height: auto;
			width: calc(100% - 2rem)
		}
	}

	.footer__dash {
		border-top: 1px solid;
		left: 1rem;
		position: absolute;
		right: 1rem;
		top: 9rem
	}

	@media(max-width:812px) {
		.footer__dash {
			display: none
		}
	}

	.footer__title {
		font-size: 0;
		margin-top: 11rem;
		pointer-events: none;
		text-transform: uppercase
	}

	.footer--visible .footer__title {
		pointer-events: auto
	}

	@media(max-width:812px) {
		.footer__title {
			margin-top: 0
		}
	}

	.footer__title__link {
		display: block;
		padding-left: 17rem;
		pointer-events: none
	}

	.footer--visible .footer__title__link {
		pointer-events: auto
	}

	@media(max-width:812px) {
		.footer__title__link {
			padding-left: 0
		}
	}

	.footer__title__text {
		display: inline-block;
		font-family: Grotta Light, sans-serif;
		font-size: 22rem;
		letter-spacing: -.4rem;
		line-height: .8;
		overflow: hidden
	}

	.footer__title__text:first-child {
		margin-bottom: .8rem
	}

	.footer__title__text:nth-child(2) {
		font-family: Decay White Regular, sans-serif;
		margin-left: 5rem
	}

	.footer__title__text:nth-child(3) {
		margin-left: 25rem
	}

	@media(max-width:812px) {
		.footer__title__text {
			font-size: 9rem
		}
		.footer__title__text:first-child, .footer__title__text:nth-child(2) {
			margin-bottom: 0;
			width: 100%
		}
		.footer__title__text:nth-child(2) {
			margin-left: 0;
			text-align: right
		}
		.footer__title__text:nth-child(3) {
			margin-left: 0;
			padding-right: .5rem
		}
		.footer__title__text:nth-child(4) {
			margin-left: 0;
			padding-right: .5rem;
			text-align: right;
			width: 100%
		}
	}

	.footer__title__text__element {
		position: relative;
		transform: translateY(-150%) rotate(-5deg);
		transition: transform 1.5s cubic-bezier(.19, 1, .22, 1)
	}

	.footer--visible .footer__title__text__element {
		opacity: 1;
		transform: translateY(0) rotate(0)
	}

	.footer--visible .footer__title__text:first-child .footer__title__text__element {
		transition-delay: 0s
	}

	.footer--visible .footer__title__text:nth-child(2) .footer__title__text__element {
		transition-delay: .1s
	}

	.footer--visible .footer__title__text:nth-child(3) .footer__title__text__element {
		transition-delay: .2s
	}

	.footer--visible .footer__title__text:nth-child(4) .footer__title__text__element {
		transition-delay: .3s
	}

	.footer__title__text__letter {
		display: inline-block;
		transition: transform 1.5s cubic-bezier(.19, 1, .22, 1);
		vertical-align: top
	}

	.footer__title__text__letter:after {
		content: attr(data-text);
		left: 0;
		position: absolute;
		top: -200%;
		transition: transform 1.5s cubic-bezier(.19, 1, .22, 1)
	}

	.footer__title__text__letter:first-of-type {
		transition-delay: .03s
	}

	.footer__title__text__letter:nth-of-type(2) {
		transition-delay: .06s
	}

	.footer__title__text__letter:nth-of-type(3) {
		transition-delay: .09s
	}

	.footer__title__text__letter:nth-of-type(4) {
		transition-delay: .12s
	}

	.footer__title__text__letter:nth-of-type(5) {
		transition-delay: .15s
	}

	.footer__title__text__letter:nth-of-type(6) {
		transition-delay: .18s
	}

	.footer__title__text__letter:nth-of-type(7) {
		transition-delay: .21s
	}

	.footer__title__text__letter:nth-of-type(8) {
		transition-delay: .24s
	}

	.footer__title__text__letter:nth-of-type(9) {
		transition-delay: .27s
	}

	.footer__title__text__letter:nth-of-type(10) {
		transition-delay: .3s
	}

	.footer__title__text__letter:nth-of-type(11) {
		transition-delay: .33s
	}

	.footer__title__text__letter:nth-of-type(12) {
		transition-delay: .36s
	}

	.footer__title__text__letter:first-of-type:after {
		transition-delay: .03s
	}

	.footer__title__text__letter:nth-of-type(2):after {
		transition-delay: .06s
	}

	.footer__title__text__letter:nth-of-type(3):after {
		transition-delay: .09s
	}

	.footer__title__text__letter:nth-of-type(4):after {
		transition-delay: .12s
	}

	.footer__title__text__letter:nth-of-type(5):after {
		transition-delay: .15s
	}

	.footer__title__text__letter:nth-of-type(6):after {
		transition-delay: .18s
	}

	.footer__title__text__letter:nth-of-type(7):after {
		transition-delay: .21s
	}

	.footer__title__text__letter:nth-of-type(8):after {
		transition-delay: .24s
	}

	.footer__title__text__letter:nth-of-type(9):after {
		transition-delay: .27s
	}

	.footer__title__text__letter:nth-of-type(10):after {
		transition-delay: .3s
	}

	.footer__title__text__letter:nth-of-type(11):after {
		transition-delay: .33s
	}

	.footer__title__text__letter:nth-of-type(12):after {
		transition-delay: .36s
	}

	@media(min-width:1399px) {
		.footer__title:hover .footer__title__text__letter {
			transform: translateY(100%);
			transition: transform 1.5s cubic-bezier(.19, 1, .22, 1)
		}
		.footer__title:hover .footer__title__text__letter:first-of-type {
			transition-delay: .03s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(2) {
			transition-delay: .06s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(3) {
			transition-delay: .09s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(4) {
			transition-delay: .12s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(5) {
			transition-delay: .15s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(6) {
			transition-delay: .18s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(7) {
			transition-delay: .21s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(8) {
			transition-delay: .24s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(9) {
			transition-delay: .27s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(10) {
			transition-delay: .3s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(11) {
			transition-delay: .33s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(12) {
			transition-delay: .36s
		}
		.footer__title:hover .footer__title__text__letter:after {
			transform: translateY(100%)
		}
		.footer__title:hover .footer__title__text__letter:first-of-type:after {
			transition-delay: .03s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(2):after {
			transition-delay: .06s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(3):after {
			transition-delay: .09s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(4):after {
			transition-delay: .12s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(5):after {
			transition-delay: .15s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(6):after {
			transition-delay: .18s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(7):after {
			transition-delay: .21s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(8):after {
			transition-delay: .24s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(9):after {
			transition-delay: .27s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(10):after {
			transition-delay: .3s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(11):after {
			transition-delay: .33s
		}
		.footer__title:hover .footer__title__text__letter:nth-of-type(12):after {
			transition-delay: .36s
		}
	}

	.footer__columns {
		display: flex;
		margin-left: 17rem;
		margin-top: 12rem
	}

	@media(max-width:812px) {
		.footer__columns {
			flex-direction: column;
			margin-left: 0;
			margin-top: 5rem
		}
	}

	.footer__column:first-child {
		text-transform: uppercase;
		width: 144rem
	}

	@media(max-width:812px) {
		.footer__column:first-child {
			margin-bottom: 2.5rem;
			width: 100%
		}
	}

	.footer__email {
		align-items: center;
		display: flex;
		position: relative;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content
	}

	.footer__email__label {
		overflow: hidden;
		width: 16rem
	}

	@media(max-width:812px) {
		.footer__email__label {
			width: auto
		}
	}

	.footer__email__divider {
		background: currentColor;
		height: 1px;
		position: absolute;
		left: 80px;
		right: 125px;
		transform: scaleX(0);
		transition: transform 1.5s cubic-bezier(.19, 1, .22, 1) .33s
	}

	.footer--visible .footer__email__divider {
		transform: scaleX(1)
	}

	@media(max-width:812px) {
		.footer__email__divider {
			left: 0;
			margin: 0 2rem;
			position: relative;
			right: auto;
			width: 2.8rem
		}
	}

	.footer__link {
		line-height: 1.15
	}

	.footer__item:not(:first-child) {
		margin-top: .5rem
	}

	@media(max-width:812px) {
		.footer__item:not(:first-child) {
			margin-top: 0
		}
	}

	.footer__text {
		display: inline-block;
		transform: translateY(100%);
		transition: transform 1.5s cubic-bezier(.19, 1, .22, 1) .33s
	}

	.footer--visible .footer__text {
		transform: translateY(0)
	}

	.cases {
		position: fixed;
		z-index: 3
	}

	.case {
		min-height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity .4s ease, visibility .4s ease;
		visibility: hidden;
		width: 100%
	}

	.case--active {
		opacity: 1;
		transition: none;
		visibility: visible
	}

	.case__content {
		padding-top: 1px
	}

	.case__button {
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 1
	}

	.case__header {
		text-transform: uppercase
	}

	.case__header__list {
		color: inherit;
		font-size: 0;
		margin-top: 50vh;
		opacity: 0;
		transform: translateY(-25%) rotate(-5deg);
		transform-origin: left;
		transition: opacity 1s ease, transform 1s ease;
		white-space: nowrap
	}

	.case__header__list span {
		display: inline-block;
		font-size: 16rem;
		line-height: .8;
		padding: 0 2rem
	}

	.case--active .case__header__list {
		opacity: 1;
		transform: translateY(-25vh) rotate(-5deg);
		transition: opacity 1s ease 1.5s, transform 1s ease 2s
	}

	@media(max-width:812px) {
		.case--active .case__header__list {
			transform: translateY(-30vh) rotate(-5deg)
		}
		.case__header__list span {
			font-size: 8rem;
			padding: 0 .5rem
		}
	}

	.case__header__list__line {
		color: inherit;
		display: inline-block
	}

	.case__header__list__line:first-of-type span:nth-child(1n) {
		font-family: Grotta Regular, sans-serif
	}

	.case__header__list__line:first-of-type span:nth-child(2n), .case__header__list__line:nth-of-type(2) span:nth-child(1n) {
		font-family: Decay White Regular, sans-serif
	}

	.case__header__list__line:nth-of-type(2) span:nth-child(2n) {
		font-family: Grotta Regular, sans-serif
	}

	.case__information {
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: flex-end;
		left: 1rem;
		opacity: 0;
		padding-bottom: 10rem;
		position: absolute;
		top: 0;
		transform-style: preserve-3d;
		transition: opacity 1s ease;
		width: 40.5rem
	}

	.case--active .case__information {
		opacity: 1;
		transition: opacity 1s ease 3s
	}

	@media(min-width:1920px) {
		.case__information {
			width: 405px
		}
	}

	@media(max-width:1399px) {
		.case__information {
			width: 60rem
		}
	}

	@media(max-width:812px) {
		.case__information {
			height: auto;
			margin-top: -15rem;
			padding-bottom: 3.5rem;
			position: relative;
			width: calc(100% - 2rem)
		}
	}

	.case__information__header {
		display: flex;
		margin-bottom: 5rem
	}

	@media(max-width:812px) {
		.case__information__header {
			margin-bottom: 3rem
		}
	}

	.case__information__date {
		width: 16rem
	}

	@media(max-width:1399px) {
		.case__information__date {
			width: 32rem
		}
	}

	@media(max-width:812px) {
		.case__information__date {
			width: 33.33%
		}
	}

	.case__information__details {
		display: flex;
		left: -1rem;
		margin-left: 49rem;
		position: absolute;
		white-space: nowrap
	}

	@media(max-width:1399px) {
		.case__information__details {
			margin-left: 65.5rem
		}
	}

	@media(max-width:812px) {
		.case__information__details {
			left: 0;
			margin-left: 0;
			position: relative;
			width: 66.66%
		}
	}

	.case__information__details__text {
		display: block;
		transition: transform .5s ease
	}

	.case__information--active .case__information__details__text {
		transform: translateY(100%)
	}

	.case__information__company {
		display: block;
		margin-bottom: auto;
		overflow: hidden;
		width: 32rem
	}

	@media(max-width:812px) {
		.case__information__company {
			width: 50%
		}
	}

	.case__information__categories {
		display: block;
		overflow: hidden
	}

	@media(max-width:812px) {
		.case__information__categories {
			width: 50%
		}
	}

	.case__information__category {
		display: block;
		overflow: hidden
	}

	.case__information__description {
		min-height: 120px
	}

	@media(max-width:812px) {
		.case__information__description {
			min-height: 0
		}
	}

	@-webkit-keyframes loading {
		0% {
			opacity: 1
		}
	}

	@keyframes loading {
		0% {
			opacity: 1
		}
	}

	.case__gallery {
		margin-left: 49rem;
		margin-top: calc(50vh - 41rem);
		opacity: 0;
		padding-bottom: 10rem;
		visibility: hidden
	}

	@media(max-width:1399px) {
		.case__gallery {
			margin-left: 65.5rem
		}
	}

	@media(max-width:812px) {
		.case__gallery {
			margin: auto;
			padding-bottom: 0;
			width: calc(100% - 2rem)
		}
	}

	.case__gallery__media:not(:first-child) {
		margin-top: 10rem
	}

	@media(max-width:812px) {
		.case__gallery__media:not(:first-child) {
			margin-top: 2.5rem
		}
	}

	.case__gallery__media__box {
		display: block;
		font-size: 0;
		margin: auto;
		position: relative;
		width: 100%
	}

	.case__gallery__media__loader {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: opacity .4s ease;
		white-space: nowrap;
		z-index: 1
	}

	.case__gallery__media__loader span {
		-webkit-animation: loading .4s ease infinite alternate;
		animation: loading .4s ease infinite alternate;
		background: rgba(0, 0, 0, .5);
		border-radius: 50%;
		display: inline-block;
		height: 1rem;
		margin-right: 1rem;
		opacity: 0;
		transition: background-color .5s ease;
		width: 1rem
	}

	.case__gallery__media__loader span:nth-child(2) {
		-webkit-animation-delay: .13s;
		animation-delay: .13s
	}

	.case__gallery__media__loader span:nth-child(3) {
		-webkit-animation-delay: .26s;
		animation-delay: .26s
	}

	.case__gallery__media--active .case__gallery__media__loader {
		opacity: 0
	}

	@media(max-width:812px) {
		.case__gallery__media__loader span {
			height: .6rem;
			margin-right: 1rem;
			width: .6rem
		}
	}

	.case__gallery__media__placeholder {
		display: inline-block;
		position: relative;
		width: 100%;
		z-index: 2
	}

	.case__gallery__media__image, .case__gallery__media__video {
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: opacity 1s ease;
		width: 100%
	}

	.case__gallery__media__placeholder--active .case__gallery__media__image, .case__gallery__media__placeholder--active .case__gallery__media__video {
		opacity: 1
	}

	.case__next {
		cursor: pointer;
		display: block;
		margin-left: 49rem;
		overflow: hidden;
		padding-bottom: 15rem;
		padding-top: 15rem;
		text-align: right;
		transition: opacity .4s ease;
		width: calc(100% - 49rem)
	}

	@media(max-width:1399px) {
		.case__next {
			margin-left: 65.5rem;
			width: calc(100% - 65.5rem)
		}
	}

	@media(max-width:812px) {
		.case__next {
			margin: auto;
			padding-bottom: 5rem;
			padding-top: 5rem;
			width: calc(100% - 2rem)
		}
	}

	.case__next__loader {
		position: relative;
		height: 2px
	}

	.case__next__loader:after {
		background: currentColor;
		content: "";
		height: 100%;
		left: 0;
		opacity: .2;
		position: absolute;
		top: 0;
		width: 100%
	}

	.case__next__loader__bar {
		background: currentColor;
		height: 100%;
		transform: scaleX(0);
		transform-origin: 0 0;
		width: 100%
	}

	.case__next__text {
		font: 4.8rem Grotta Regular, sans-serif;
		margin-top: 3.5rem;
		padding-right: 10rem;
		text-transform: uppercase;
		transition: opacity .5s ease
	}

	.case__next:focus .case__next__text, .case__next:hover .case__next__text {
		opacity: .5
	}

	@media(max-width:812px) {
		.case__next__text {
			font-size: 2.5rem;
			margin-top: 1.5rem;
			padding-right: 0
		}
	}
